<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874489761104-07dv1s74qp4qdhe1tjtlpkmruqv1lqq4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874489761104-07dv1s74qp4qdhe1tjtlpkmruqv1lqq4</string>
	<key>API_KEY</key>
	<string>AIzaSyDA68aZTgFajn78gX1fX97UshY-InwLOwY</string>
	<key>GCM_SENDER_ID</key>
	<string>874489761104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.3up2down.HouseBook6</string>
	<key>PROJECT_ID</key>
	<string>up2down-c539a</string>
	<key>STORAGE_BUCKET</key>
	<string>up2down-c539a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874489761104:ios:980a05bc892c19d26a3055</string>
</dict>
</plist>